@if(Request.IsAuthenticated) {
    <span>
        Hello, <a href="@Url.Action("Manage", "Account")">@User.Identity.Name</a>!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:$('#logoutForm').submit()">Log off</a>
        }
   </span>
} else {
    <a href="@Url.Action("Register", "Account")">Register</a>
    <a href="@Url.Action("Login", "Account")">Login</a>
}
